/* Styles for EmotionTracker Component */
.EmotionTracker-Card {
    margin-bottom: 10px;
}

.EmotionTracker-Chip {
    margin: 2px;
}

.EmotionTracker-IconButton {
    padding: 5px;
}

.EmotionTracker-TextField {
    flex-grow: 1;
}

.chip.adding {
    animation: fadeIn 0.3s forwards;
}

.chip.removing {
    animation: fadeOut 0.3s forwards;
}

.chips-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
    width: 250px;
}

.text-input {
    width: 250px;
}

/* Styles for Dashboard Component */
.day-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.heading {
    font-weight: lighter !important;
}

/* General Styles */
body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.MuiDatePickerToolbar-title {
    font-weight: lighter !important;
}

.MuiPaper-root {
    width: fit-content;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.8);
    }
}