<!DOCTYPE html>
<html>
<head>
  <title>EmotionTracker</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Include the Esbuild-generated application.js file -->
  <script src="/assets/application.js" type="module" defer></script>
  <!-- Include the Esbuild-generated application.css file -->
  <link rel="stylesheet" href="/assets/application.css">

</head>

<body>
<%= yield %>
</body>
</html>